# App Config
NEXT_PUBLIC_APP_TITLE="Briom"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NGROK_FREE_TUNNEL="{yours}.ngrok-free.dev" # not required, useful on local dev (Supabase Webhook)

# Frakfurter FX Rate Defaults
FX_RATE_USD_IDR=16000

# Inngest
INNGEST_APP_ID="{id}"
INNGEST_DEV=0 # 0 for Prod | 1 for Local
INNGEST_SERVE_PATH="/api/workers"
INNGEST_SIGNING_KEY="signkey-prod-{hash}"
INNGEST_EVENT_KEY="ov{hash}"

# Open Router
OPEN_ROUTER_API_KEY="sk-or-v1-{hash}"
USE_FREE_MODELS="true"

# PostHog
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN="phc_{token}"
NEXT_PUBLIC_POSTHOG_HOST="https://{host}.posthog.com"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://{project-id}.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_b-{hash}"
SUPABASE_SECRET_KEY="sb_secret_{hash}"
SUPABASE_WEBHOOK_SECRET="{ % openssl rand -hex 32 }"

# Supabase Database
DATABASE_URL="postgresql://postgres.{user}:{password}@{db_host}:{port}/{db_name}"
