# App Config
NEXT_PUBLIC_APP_TITLE="Briom"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Frakfurter FX Rate Defaults
FX_RATE_USD_IDR=16000

# Inngest
INNGEST_APP_ID="{id}"
INNGEST_DEV=0 # 0 for Prod | 1 for Local
INNGEST_SERVE_PATH="/api/workers"

# Open Router
OPEN_ROUTER_API_KEY="sk-or-v1-{hash}"
USE_FREE_MODELS="true"

# Supabase
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_b-{hash}"
SUPABASE_SECRET_KEY="sb_secret_{hash}"

# Supabase Database
DATABASE_URL="postgresql://postgres.{user}:{password}@{db_host}:{port}/{db_name}"
